# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [96]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
#import matplotlib 
#import matplotlib.pyplot as plt
import numpy as np

ny = pd.read_csv("dataset/new-york_9-24-2016_9-30-2017.csv")
baltimore = pd.read_csv("dataset/baltimore_9-24-2016_9-30-2017.csv")
boston = pd.read_csv("dataset/boston_9-24-2016_9-30-2017.csv")
philadelphia = pd.read_csv("dataset/philadelphia_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

***Baltimore Data Cleaning***

In [97]:
baltimore.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [98]:
# Clean your data here!
for col in baltimore.columns:
    pct_missing = np.mean(ny[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 87%
Item Size - 7%
Color - 81%
Environment - 100%
Unit of Sale - 78%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [99]:
# Repack Column: bool
baltimore["Repack"] = baltimore["Repack"].replace({"N":False, "E":True})
#Check status with a quick head check
baltimore.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN

In [100]:
baltimore["Type"] = baltimore["Type"].fillna("Conventional")
baltimore["Type"]

0      Conventional
1      Conventional
2      Conventional
3      Conventional
4      Conventional
           ...
148    Conventional
149    Conventional
150    Conventional
151    Conventional
152    Conventional
Name: Type, Length: 153, dtype: object

In [101]:
baltimore = baltimore.drop(["Origin District",
"Sub Variety",                            
"Item Size",
"Grade",                  
"Color",
"Environment",
"Unit of Sale",
"Quality",
"Condition",
"Appearance",
"Storage",
"Crop",
"Trans Mode"], axis = 1)

In [102]:
baltimore.head()

,Commodity Name,City Name,Type,Package,Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Repack
0,PUMPKINS,BALTIMORE,Conventional,24 inch bins,NaN,04/29/2017,270,280.0,270,280.0,NaN,True
1,PUMPKINS,BALTIMORE,Conventional,24 inch bins,NaN,05/06/2017,270,280.0,270,280.0,NaN,True
2,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,09/24/2016,160,160.0,160,160.0,DELAWARE,False
3,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,09/24/2016,160,160.0,160,160.0,VIRGINIA,False
4,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,11/05/2016,90,100.0,90,100.0,MARYLAND,False

***Boston Data Cleaning***

In [103]:
boston.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,180,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [104]:
for col in boston.columns:
    pct_missing = np.mean(boston[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 92%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 81%
Item Size - 1%
Color - 14%
Environment - 100%
Unit of Sale - 87%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [105]:
# Repack Column: bool
boston["Repack"] = boston["Repack"].replace({"N":False, "E":True})
#Check status with a quick head check
boston.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
1,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
3,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
4,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,180,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN

In [106]:
boston["Type"] = boston["Type"].fillna("Conventional")
boston["Type"]

0      Conventional
1      Conventional
2      Conventional
3      Conventional
4      Conventional
           ...
347    Conventional
348    Conventional
349    Conventional
350    Conventional
351    Conventional
Name: Type, Length: 352, dtype: object

In [107]:
boston = boston.drop(["Origin District",
"Sub Variety",                            
"Item Size",
"Grade",                  
"Color",
"Environment",
"Unit of Sale",
"Quality",
"Condition",
"Appearance",
"Storage",
"Crop",
"Trans Mode"], axis = 1)

boston.head()

,Commodity Name,City Name,Type,Package,Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Repack
0,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,09/24/2016,160,200,165,165,CANADA,False
1,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,09/24/2016,160,200,165,165,CANADA,False
2,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,09/24/2016,160,200,165,165,CANADA,False
3,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,09/24/2016,160,200,165,165,CANADA,False
4,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,09/24/2016,160,180,165,165,CANADA,False

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [114]:
# Combine the four dataframes into one!
#comp clean data 
northeast = boston.append([baltimore, ny, philadelphia])
northeast

C:\Users\ortiz\AppData\Local\Temp\ipykernel_31396\1904247022.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  northeast = boston.append([baltimore, ny, philadelphia])

,Commodity Name,City Name,Type,Package,Variety,Date,Low Price,High Price,Mostly Low,Mostly High,...,Item Size,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Trans Mode
0,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,09/24/2016,160,200.0,165,165.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,09/24/2016,160,200.0,165,165.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,09/24/2016,160,200.0,165,165.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,09/24/2016,160,200.0,165,165.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,09/24/2016,160,180.0,165,165.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,11/05/2016,16,18.0,16,18.0,...,NaN,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,NaN
53,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,08/26/2017,18,20.0,18,20.0,...,NaN,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,NaN
54,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,09/16/2017,16,16.0,16,16.0,...,NaN,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,NaN
55,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,09/23/2017,15,16.0,15,16.0,...,NaN,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,NaN
56,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,09/30/2017,15,18.0,15,18.0,...,NaN,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,NaN

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [109]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.

In [110]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [111]:
# Try the bonus mission if you have time!